<app-header></app-header>
<br><br><br><br>

<h1 >FORMULARIO PARA CREAR UN EMPLEADO</h1>

<br><br><br>

<div class="container form">
  <form class="row g-3" [formGroup]="nuevoForm" (ngSubmit)="postform(nuevoForm.value)">

    <!-- Campo primer nombre -->
    <div class="col-md-3">
      <label for="inputEmail4" class="form-label">Primer Nombre</label>
      <input type="text" formControlName="PrimerNombre" class="form-control" id="inputEmail4" placeholder="Primero Nombre"
      [ngClass]="{
        'is-invalid': nuevoForm.controls['PrimerNombre'].invalid && (nuevoForm.controls['PrimerNombre'].dirty || nuevoForm.controls['PrimerNombre'].touched),
        'is-valid': nuevoForm.controls['PrimerNombre'].valid
      }">
      <div
        *ngIf="nuevoForm.controls['PrimerNombre'].invalid && (nuevoForm.controls['PrimerNombre'].dirty || nuevoForm.controls['PrimerNombre'].touched)">
        <div *ngIf="nuevoForm.controls['PrimerNombre'].errors.required">
          Nombre es requerido.
        </div>
        <div *ngIf="nuevoForm.controls['PrimerNombre'].errors.minlength" class="invalid-feedback">
          Name must be at least 4 characters long.
        </div>
        <div *ngIf="nuevoForm.controls['PrimerNombre'].errors.forbiddenName" class="invalid-feedback">
          Name cannot be Bob.
        </div>
      </div>
    </div>

    <!-- Campo segundo nombre -->
    <div class="col-md-3">
      <label for="inputAddress" class="form-label">Segundo Nombre</label>
      <input type="text" class="form-control" formControlName="SegundoNombre" id="inputAddress" placeholder="Segundo Nombre" [ngClass]="{
        'is-invalid': nuevoForm.controls['SegundoNombre'].invalid && (nuevoForm.controls['SegundoNombre'].dirty || nuevoForm.controls['SegundoNombre'].touched),
        'is-valid': nuevoForm.controls['SegundoNombre'].valid
      }">
      <div
      *ngIf="nuevoForm.controls['SegundoNombre'].invalid && (nuevoForm.controls['SegundoNombre'].dirty || nuevoForm.controls['SegundoNombre'].touched)">
      <div *ngIf="nuevoForm.controls['SegundoNombre'].errors.required">
        Nombre es requerido.
      </div>
      <div *ngIf="nuevoForm.controls['SegundoNombre'].errors.minlength" class="invalid-feedback">
        Name must be at least 4 characters long.
      </div>
      <div *ngIf="nuevoForm.controls['SegundoNombre'].errors.forbiddenName" class="invalid-feedback">
        Name cannot be Bob.
      </div>
    </div>
    </div>

    <!-- Campo primer apellido -->
    <div class="col-md-3">
      <label for="inputPassword4" class="form-label">Primer Apellido</label>
      <input type="text" formControlName="PrimerApellido" class="form-control" id="inputPassword4" placeholder="Primer Apellido"   [ngClass]="{
        'is-invalid': nuevoForm.controls['PrimerApellido'].invalid && (nuevoForm.controls['PrimerApellido'].dirty || nuevoForm.controls['PrimerApellido'].touched),
        'is-valid': nuevoForm.controls['PrimerApellido'].valid
      }">
      <div
        *ngIf="nuevoForm.controls['PrimerApellido'].invalid && (nuevoForm.controls['PrimerApellido'].dirty || nuevoForm.controls['PrimerApellido'].touched)">
        <div *ngIf="nuevoForm.controls['PrimerApellido'].errors.required">
          Primer Apellido es requerido.
        </div>
        <div *ngIf="nuevoForm.controls['PrimerApellido'].errors.minlength" class="invalid-feedback">
          Name must be at least 4 characters long.
        </div>
        <div *ngIf="nuevoForm.controls['PrimerApellido'].errors.forbiddenName" class="invalid-feedback">
          Name cannot be Bob.
        </div>
      </div>
    </div>

    <!-- Campo segundo apellido -->
    <div class="col-md-3">
      <label for="inputAddress" class="form-label">Segundo Apellido</label>
      <input type="text" class="form-control" formControlName="SegundoApellido" id="inputAddress" placeholder="Segundo Apellido" [ngClass]="{
        'is-invalid': nuevoForm.controls['SegundoApellido'].invalid && (nuevoForm.controls['SegundoApellido'].dirty || nuevoForm.controls['SegundoApellido'].touched),
        'is-valid': nuevoForm.controls['SegundoApellido'].valid
      }">
      <div
      *ngIf="nuevoForm.controls['SegundoApellido'].invalid && (nuevoForm.controls['SegundoApellido'].dirty || nuevoForm.controls['SegundoApellido'].touched)">
      <div *ngIf="nuevoForm.controls['SegundoApellido'].errors.required">
        Primer Apellido es requerido.
      </div>
      <div *ngIf="nuevoForm.controls['SegundoApellido'].errors.minlength" class="invalid-feedback">
        Name must be at least 4 characters long.
      </div>
      <div *ngIf="nuevoForm.controls['SegundoApellido'].errors.forbiddenName" class="invalid-feedback">
        Name cannot be Bob.
      </div>
    </div>
    </div>

    <!-- Tipo de identificación -->
    <div class="col-md-3">
      <label for="inputState" class="form-label">Tipo de identificación</label>
      <select id="inputState" class="form-select" formControlName="IdTipoIdent" [ngClass]="{
        'is-invalid': nuevoForm.controls['IdTipoIdent'].invalid && (nuevoForm.controls['IdTipoIdent'].dirty || nuevoForm.controls['IdTipoIdent'].touched),
        'is-valid': nuevoForm.controls['IdTipoIdent'].valid
      }">
        <option selected></option>
        <option *ngFor="let IdTipoIdent of typeDocuments" [value]="IdTipoIdent.idTipoIdent">
           {{IdTipoIdent.mask}} - {{IdTipoIdent.tipoIdent}}
        </option>
      </select>
      <div
      *ngIf="nuevoForm.controls['IdTipoIdent'].invalid && (nuevoForm.controls['IdTipoIdent'].dirty || nuevoForm.controls['IdTipoIdent'].touched)">
      <div *ngIf="nuevoForm.controls['IdTipoIdent'].errors.required">
        Tipo de documento es requerido.
      </div>
      <div *ngIf="nuevoForm.controls['IdTipoIdent'].errors.minlength" class="invalid-feedback">
        Name must be at least 4 characters long.
      </div>
      <div *ngIf="nuevoForm.controls['IdTipoIdent'].errors.forbiddenName" class="invalid-feedback">
        Name cannot be Bob.
      </div>
    </div>
    </div>

    <!-- Número de Identificación -->
    <div class="col-md-3">
      <label for="inputPassword4" class="form-label">Número de Identificación</label>
      <input type="numer" formControlName="NumeroIdentificacion" class="form-control" id="inputPassword4" placeholder="Número de identificación"   [ngClass]="{
        'is-invalid': nuevoForm.controls['NumeroIdentificacion'].invalid && (nuevoForm.controls['NumeroIdentificacion'].dirty || nuevoForm.controls['NumeroIdentificacion'].touched),
        'is-valid': nuevoForm.controls['NumeroIdentificacion'].valid
      }">
      <div
        *ngIf="nuevoForm.controls['NumeroIdentificacion'].invalid && (nuevoForm.controls['NumeroIdentificacion'].dirty || nuevoForm.controls['NumeroIdentificacion'].touched)">
        <div *ngIf="nuevoForm.controls['NumeroIdentificacion'].errors.required">
          Número de documento es requerido.
        </div>
        <div *ngIf="nuevoForm.controls['NumeroIdentificacion'].errors.minlength" class="invalid-feedback">
          Name must be at least 4 characters long.
        </div>
        <div *ngIf="nuevoForm.controls['NumeroIdentificacion'].errors.forbiddenName" class="invalid-feedback">
          Name cannot be Bob.
        </div>
      </div>
    </div>

    <!-- Fecha de Nacimiento -->
    <div class="col-md-3">
      <label for="inputPassword4" class="form-label">Fecha de Nacimiento</label>
      <input type="date" formControlName="FechaNacimiento" class="form-control" id="inputPassword4" placeholder="Número de identificación"   [ngClass]="{
        'is-invalid': nuevoForm.controls['FechaNacimiento'].invalid && (nuevoForm.controls['FechaNacimiento'].dirty || nuevoForm.controls['FechaNacimiento'].touched),
        'is-valid': nuevoForm.controls['FechaNacimiento'].valid
      }">
      <div
        *ngIf="nuevoForm.controls['FechaNacimiento'].invalid && (nuevoForm.controls['FechaNacimiento'].dirty || nuevoForm.controls['FechaNacimiento'].touched)">
        <div *ngIf="nuevoForm.controls['FechaNacimiento'].errors.required">
          Fecha de Nacimiento es requerido.
        </div>
        <div *ngIf="nuevoForm.controls['FechaNacimiento'].errors.minlength" class="invalid-feedback">
          Name must be at least 4 characters long.
        </div>
        <div *ngIf="nuevoForm.controls['FechaNacimiento'].errors.forbiddenName" class="invalid-feedback">
          Name cannot be Bob.
        </div>
      </div>
    </div>

    <!-- Fecha de Contratación -->
    <div class="col-md-3">
      <label for="inputPassword4" class="form-label">Fecha de Contratación</label>
      <input type="date" formControlName="FechaContratacion" class="form-control" id="inputPassword4" placeholder="Número de identificación"   [ngClass]="{
        'is-invalid': nuevoForm.controls['FechaContratacion'].invalid && (nuevoForm.controls['FechaContratacion'].dirty || nuevoForm.controls['FechaContratacion'].touched),
        'is-valid': nuevoForm.controls['FechaContratacion'].valid
      }">
      <div
        *ngIf="nuevoForm.controls['FechaContratacion'].invalid && (nuevoForm.controls['FechaContratacion'].dirty || nuevoForm.controls['FechaContratacion'].touched)">
        <div *ngIf="nuevoForm.controls['FechaContratacion'].errors.required">
          Fecha de Contratación es requerido.
        </div>
        <div *ngIf="nuevoForm.controls['FechaContratacion'].errors.minlength" class="invalid-feedback">
          Name must be at least 4 characters long.
        </div>
        <div *ngIf="nuevoForm.controls['FechaContratacion'].errors.forbiddenName" class="invalid-feedback">
          Name cannot be Bob.
        </div>
      </div>
    </div>

    <!-- Fecha de Terminación de Contrato -->
    <div class="col-md-3">
      <label for="inputPassword4" class="form-label">Fecha de Terminación de Contratación</label>
      <input type="date" formControlName="FechaTerminacion" class="form-control" id="inputPassword4" placeholder="Número de identificación" [ngClass]="{
        'is-invalid': nuevoForm.controls['FechaTerminacion'].invalid && (nuevoForm.controls['FechaTerminacion'].dirty || nuevoForm.controls['FechaTerminacion'].touched),
        'is-valid': nuevoForm.controls['FechaTerminacion'].valid
      }">
      <div
      *ngIf="nuevoForm.controls['FechaTerminacion'].invalid && (nuevoForm.controls['FechaTerminacion'].dirty || nuevoForm.controls['FechaTerminacion'].touched)">
      <div *ngIf="nuevoForm.controls['FechaTerminacion'].errors.required">
        Fecha de terminación de Contratato es requerido.
      </div>
      <div *ngIf="nuevoForm.controls['FechaTerminacion'].errors.minlength" class="invalid-feedback">
        Name must be at least 4 characters long.
      </div>
      <div *ngIf="nuevoForm.controls['FechaTerminacion'].errors.forbiddenName" class="invalid-feedback">
        Name cannot be Bob.
      </div>
    </div>
    </div>

    <!-- Correo electrónico personal -->
    <div class="col-md-8">
      <label for="inputPassword4" class="form-label">Email personal</label>
      <input type="numer" formControlName="EmailPrincipal" class="form-control" id="inputPassword4" placeholder="Número de identificación"   [ngClass]="{
        'is-invalid': nuevoForm.controls['EmailPrincipal'].invalid && (nuevoForm.controls['EmailPrincipal'].dirty || nuevoForm.controls['EmailPrincipal'].touched),
        'is-valid': nuevoForm.controls['EmailPrincipal'].valid
      }">
      <div
        *ngIf="nuevoForm.controls['EmailPrincipal'].invalid && (nuevoForm.controls['EmailPrincipal'].dirty || nuevoForm.controls['EmailPrincipal'].touched)">
        <div *ngIf="nuevoForm.controls['EmailPrincipal'].errors.required">
          El email es requerido.
        </div>
        <div *ngIf="nuevoForm.controls['EmailPrincipal'].errors.minlength" class="invalid-feedback">
          Name must be at least 4 characters long.
        </div>
        <div *ngIf="nuevoForm.controls['EmailPrincipal'].errors.forbiddenName" class="invalid-feedback">
          Name cannot be Bob.
        </div>
      </div>
    </div>

    <!-- Teléfono Fijo -->
    <div class="col-md-4">
      <label for="inputPassword4" class="form-label">Teléfono Fijo</label>
      <input type="numer" formControlName="TelefonoFijo" class="form-control" id="inputPassword4" placeholder="Número de identificación"   [ngClass]="{
        'is-invalid': nuevoForm.controls['TelefonoFijo'].invalid && (nuevoForm.controls['TelefonoFijo'].dirty || nuevoForm.controls['TelefonoFijo'].touched),
        'is-valid': nuevoForm.controls['TelefonoFijo'].valid
      }">
      <div
      *ngIf="nuevoForm.controls['TelefonoFijo'].invalid && (nuevoForm.controls['TelefonoFijo'].dirty || nuevoForm.controls['TelefonoFijo'].touched)">
      <div *ngIf="nuevoForm.controls['TelefonoFijo'].errors.required">
        Teléfono fijo es requerido.
      </div>
      <div *ngIf="nuevoForm.controls['TelefonoFijo'].errors.minlength" class="invalid-feedback">
        Name must be at least 4 characters long.
      </div>
      <div *ngIf="nuevoForm.controls['TelefonoFijo'].errors.forbiddenName" class="invalid-feedback">
        Name cannot be Bob.
      </div>
    </div>
    </div>

    <!-- Teléfono Ceular -->
    <div class="col-md-4">
      <label for="inputPassword4" class="form-label">Teléfono Ceular</label>
      <input type="numer" formControlName="TelefonoCelular" class="form-control" id="inputPassword4" placeholder="Número de identificación"   [ngClass]="{
        'is-invalid': nuevoForm.controls['TelefonoCelular'].invalid && (nuevoForm.controls['TelefonoCelular'].dirty || nuevoForm.controls['TelefonoCelular'].touched),
        'is-valid': nuevoForm.controls['TelefonoCelular'].valid
      }">
      <div
        *ngIf="nuevoForm.controls['TelefonoCelular'].invalid && (nuevoForm.controls['TelefonoCelular'].dirty || nuevoForm.controls['TelefonoCelular'].touched)">
        <div *ngIf="nuevoForm.controls['TelefonoCelular'].errors.required">
          Celular es requerido.
        </div>
        <div *ngIf="nuevoForm.controls['TelefonoCelular'].errors.minlength" class="invalid-feedback">
          Name must be at least 4 characters long.
        </div>
        <div *ngIf="nuevoForm.controls['TelefonoCelular'].errors.forbiddenName" class="invalid-feedback">
          Name cannot be Bob.
        </div>
      </div>
    </div>

    <!-- Rol -->
    <div class="col-md-3">
      <label for="inputState" class="form-label">Rol</label>
      <select id="inputState" class="form-select" formControlName="Rol" [ngClass]="{
        'is-invalid': nuevoForm.controls['Rol'].invalid && (nuevoForm.controls['Rol'].dirty || nuevoForm.controls['Rol'].touched),
        'is-valid': nuevoForm.controls['Rol'].valid
      }">
      <option selected></option>
      <option *ngFor="let roles of rol" [value]="roles.nombreRol">
         {{roles.nombreRol}}
     </option>
      </select>
      <div
      *ngIf="nuevoForm.controls['Rol'].invalid && (nuevoForm.controls['Rol'].dirty || nuevoForm.controls['Rol'].touched)">
      <div *ngIf="nuevoForm.controls['Rol'].errors.required">
        El rol es requerido.
      </div>
      <div *ngIf="nuevoForm.controls['Rol'].errors.minlength" class="invalid-feedback">
        Name must be at least 4 characters long.
      </div>
      <div *ngIf="nuevoForm.controls['Rol'].errors.forbiddenName" class="invalid-feedback">
        Name cannot be Bob.
      </div>
    </div>
    </div>


    <div class="col-12">
      <button type="submit" [disabled]="nuevoForm.invalid" class="btn btn-primary" (click)="openModal()">Crear</button>
    </div>
    <!-- Modal -->
    <app-modal-creacion #dialogForm [modalParameters]="modalParameters"></app-modal-creacion>
  </form>
</div>
