.form {
  border: 1px solid #ECE9E5;
  padding: 20px;
}
<<<<<<< HEAD
=======

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}
>>>>>>> a10aff708f28cc5ac704be656126cb5711c77a4e
