<app-header-login></app-header-login>

<br><br><br><br><br>

<h1>Nuestra trayectoria!</h1>
<br><br><br>
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/imagenes/calzado.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Calzado</h5>
        <p>Calidad.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/imagenes/123.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Todo a tu medida</h5>
        <p>Calidad, rentabilidad y beneficios.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/imagenes/calzado123.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Calzado</h5>
        <p>La mejor calidad al mejor precio.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br><br><br>




Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae dolore distinctio tenetur repellat quaerat et commodi deleniti accusamus quos? Eius voluptas perspiciatis dolor? Consectetur dignissimos fugiat minus reiciendis rerum similique.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus consequatur veniam earum nesciunt eveniet! Dolor perferendis voluptate doloribus, voluptatibus quis facere modi quos dignissimos sunt ipsum. Aperiam nemo commodi explicabo?
