<header>
  <nav class="navbar navbar-light bg-light">
    <form class="container-fluid justify-content-start" [formGroup]="">

      <button class="btn btn-outline-success me-2 bot1"  title="Salir"
        type="button" (click)="logout()">Logout</button>
    </form>
  </nav>
</header>

<h1 >MÓDULOS DE ADMINISTRACIÓN</h1>

<br><br><br>

<div class="container">
  <div class="row">
    <div class="col-2">
    <div class="card custom" style="width: 240px; height: 250px;" [routerLink]="['/creacion']">
      <div class="card-body">
        <img class="image-card-height" src="../../assets/imagenes/asignacion.png" />
        <h2 class="card-title">  USUARIOS  </h2>
      </div>
    </div>
  </div>
  <div class="col-2 offset-1">
    <div class="card custom" style="width: 245px; height: 250px;" [routerLink]="['/productos']">
      <div class="card-body">
        <img class="image-card-height" src="../../assets/imagenes/admin.png" />
        <h2 class="card-title">PRODUCTOS</h2>
      </div>
    </div>
  </div>
  <div class="col-2 offset-1">
    <div class="card custom" style="width: 240px; height: 250px;" [routerLink]="['/informes']">
      <div class="card-body">
        <img class="image-card-height" src="../../assets/imagenes/informes.png" />
        <h2 class="card-title">INFORMES</h2>
      </div>
    </div>
  </div>
  <div class="col-2 offset-1">
    <div class="card custom" style="width: 240px; height: 250px;" [routerLink]="['/moduloventas']">
      <div class="card-body">
        <img class="image-card-height" src="../../assets/imagenes/ventas.png" />
        <h2 class="card-title">VENTAS</h2>
      </div>
    </div>
  </div>
  </div>
</div>
<br><br><br>
