<app-header></app-header><br>

<h1>GESTIONAR VENTAS</h1>
<br>
<div class="container">
  <div class="row">
   <!-- Listar Clientes -->
   <div class="col-2">
   
     <div class="card custom" style="width: 250px; height: 250px;" [routerLink]="['/listado-usuarios']">
       <div class="card-body">
         <img class="image-card-height" src="../../assets/imagenes/lista.png" />
         <h2 class="card-title">LISTADO DE CLIENTES</h2>
       </div>
     </div>
   </div>
   <!-- Crear Cliente -->
   <div class="col-2 offset-1">
  
     <div class="card custom" style="width: 250px; height: 250px;" [routerLink]="['/regisclien']">
       <div class="card-body">
         <img class="image-card-height" src="../../assets/imagenes/cliente.png" />
         <h2 class="card-title">CREAR CLIENTE</h2>
       </div>
     </div>
   </div>
   <!-- Listar Ventas -->
   <div class="col-2 offset-1">
   
    <div class="card custom" style="width: 250px; height: 250px;" [routerLink]="['/listado-usuarios']">
      <div class="card-body">
        <img class="image-card-height" src="../../assets/imagenes/listass.png" />
        <h2 class="card-title">LISTADO DE VENTAS</h2>
      </div>
    </div>
  </div>
  <!-- Crear Venta -->
  <div class="col-2 offset-1">
 
    <div class="card custom" style="width: 250px; height: 250px;" [routerLink]="['/creacionventa']">
      <div class="card-body">
        <img class="image-card-height" src="../../assets/imagenes/regventa.png" />
        <h2 class="card-title">CREAR VENTA</h2>
      </div>
    </div>
  </div>

  </div>
</div>

<br><br>
