<app-header></app-header><br><br>

<h1>GESTIONAR PRODUCTOS</h1>
<br>
<div class="container">
  <div class="row">
        <!-- Enlistar Proveedor -->
    <div class="col-2 ">
      <div class="card custom" style="width: 250px; height: 260px;" [routerLink]="['/listar-productos']">
        <div class="card-body">
          <img class="image-card-height" src="../../assets/imagenes/Productosss.png" />
          <h2 class="card-title">PRODUCTOS</h2>
        </div>
      </div>
    </div>
        <!-- Crear Proveedor -->
    <div class="col-2 offset-1">
      <div class="card custom" style="width: 250px; height: 260px;" [routerLink]="['/creacion-productos']">
        <div class="card-body">
          <img class="image-card-height" src="../../assets/imagenes/crearproductos.png" />
          <h2 class="card-title">CREAR PRODUCTOS</h2>
        </div>
      </div>
    </div>
    <!-- Enlistar Proveedor -->
    <div class="col-1 offset-1">
      <div class="card custom" style="width: 260px; height: 260px;" [routerLink]="['/listado-proveedores']">
        <div class="card-body">
          <img class="image-card-height" src="../../assets/imagenes/listas (1).png" />
          <h2 class="card-title">PROVEEDORES</h2>
        </div>
      </div>
    </div>
    <!-- Crear Proveedor -->
    <div class="col-2"></div>
    <div class="col-1">
      <div class="card custom" style="width: 250px; height: 260px;" [routerLink]="['/regisprov']">
        <div class="card-body">
          <img class="image-card-height" src="../../assets/imagenes/preveedor.png" />
          <h2 class="card-title">CREAR PROVEEDOR</h2>
        </div>
      </div>
    </div>

  </div>
</div>

<br>
