<app-header-login></app-header-login>

<div class="container">
  <div class="row text-center login-page">
    <div class="col-md-12 login-form">
      <form action="claseDestino.php" [formGroup]="frmGroup" (ngSubmit)="onLogin()">
        <div class="row">
          <div class="col-md-12 login-form-header">
            <p class="login-form-font-header">Calzado <span>Experto</span>
            <p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 login-from-row">
            <input type="email" placeholder="Escriba el correo electrónico" formControlName="email"
              required autofocus placeholder="Usuario"  required />
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 login-from-row">
            <input type="password" placeholder="password" formControlName="pass" minlength="4"
              maxlength="15" required/>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 login-from-row">
            <button class="btn btn-info" [disabled]="frmGroup.invalid" tabindex="0"  title="Ingresar">Ingresar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
    <!-- Modal -->
    <app-modal-creacion #dialogForm [modalParameters]="modalParameters"></app-modal-creacion>
