<app-header></app-header>
<br><br><br><br>

<h1>FORMULARIO PARA REGISTRAR UN PRODUCTO</h1>

<br><br><br>

<div class="container form">
    <form class="row g-3" [formGroup]="crearpro"(ngSubmit)="postfrom(crearpro.value)">
<!-- Nombre prodcto-->
      <div class="col-md-3">
        <label for="inputEmail4" class="form-label">Nombre Producto</label>
        <input type="text" formControlName="nombreProducto" class="form-control" id="inputEmail4" placeholder="Nombre Producto"
        [ngClass]="{
          'is-invalid': crearpro.controls['nombreProducto'].invalid && (crearpro.controls['nombreProducto'].dirty || crearpro.controls['nombreProducto'].touched),
          'is-valid': crearpro.controls['nombreProducto'].valid
        }">
        <div
          *ngIf="crearpro.controls['nombreProducto'].invalid && (crearpro.controls['nombreProducto'].dirty || crearpro.controls['nombreProducto'].touched)">
          <div *ngIf="crearpro.controls['nombreProducto'].errors.required">
            Nombre es requerido.
          </div>
          <div *ngIf="crearpro.controls['nombreProducto'].errors.minlength" class="invalid-feedback">
            Name must be at least 4 characters long.
          </div>
          <div *ngIf="crearpro.controls['nombreProducto'].errors.forbiddenName" class="invalid-feedback">
            Name cannot be Bob.
          </div>
        </div>
      </div>
        <!-- Campo ID Categoria -->

        <div class="col-md-3">
            <label for="inputState" class="form-label">idCategoria</label>
            <select id="inputState" class="form-select" formControlName="idCategoria" [ngClass]="{
          'is-invalid': crearpro.controls['idCategoria'].invalid && (crearpro.controls['idCategoria'].dirty || crearpro.controls['idCategoria'].touched),
          'is-valid': crearpro.controls['idCategoria'].valid
        }">
        <option selected></option>
        <option *ngFor="let idCategoria of categoria" [value]="idCategoria.idCategoria">
           {{idCategoria.nombreCategoria}}
        </option>
      </select>
            <div
                *ngIf="crearpro.controls['idCategoria'].invalid && (crearpro.controls['idCategoria'].dirty || crearpro.controls['idCategoria'].touched)">
                <div *ngIf="crearpro.controls['idCategoria'].errors.required">
                    idCategoria del Producto Requerido.
                </div>
                <div *ngIf="crearpro.controls['idCategoria'].errors.minlength" class="invalid-feedback">
                    Name must be at least 4 characters long.
                </div>
                <div *ngIf="crearpro.controls['idCategoria'].errors.forbiddenName" class="invalid-feedback">
                    El Id de Categoria del Producto no fue encontrada.
                </div>
            </div>
        </div>


        <!-- Marca -->
        <div class="col-md-3">
            <label for="inputState" class="form-label">idMarca</label>
            <select id="inputState" class="form-select" formControlName="idMarca" [ngClass]="{
          'is-invalid': crearpro.controls['idMarca'].invalid && (crearpro.controls['idMarca'].dirty || crearpro.controls['idMarca'].touched),
          'is-valid': crearpro.controls['idMarca'].valid
        }">
        <option selected></option>
        <option *ngFor="let idMarca of marca" [value]="idMarca.idMarca">
           {{idMarca.nombreMarca}}
        </option>
      </select>
            <div
                *ngIf="crearpro.controls['idMarca'].invalid && (crearpro.controls['idMarca'].dirty || crearpro.controls['idMarca'].touched)">
                <div *ngIf="crearpro.controls['idMarca'].errors.required">
                    idMarca del Producto Requerido.
                </div>
                <div *ngIf="crearpro.controls['idMarca'].errors.minlength" class="invalid-feedback">
                    Name must be at least 4 characters long.
                </div>
                <div *ngIf="crearpro.controls['idMarca'].errors.forbiddenName" class="invalid-feedback">
                    La idMarca del Producto no fue encontrada.
                </div>
            </div>
        </div>


        <!-- Campo Costo de la Compra-->
        <div class="col-md-3">
            <label for="inputAddress" class="form-label">Costo de la Compra</label>
            <input type="text" class="form-control" formControlName="costoCompra" id="inputAddress"
                placeholder="Valor de la Compra Producto" [ngClass]="{
        'is-invalid': crearpro.controls['costoCompra'].invalid && (crearpro.controls['costoCompra'].dirty || crearpro.controls['costoCompra'].touched),
        'is-valid': crearpro.controls['costoCompra'].valid
      }">
            <div
                *ngIf="crearpro.controls['costoCompra'].invalid && (crearpro.controls['costoCompra'].dirty || crearpro.controls['costoCompra'].touched)">
                <div *ngIf="crearpro.controls['costoCompra'].errors.required">
                    El Costo de la Compra del Producto es Requerido.
                </div>
                <div *ngIf="crearpro.controls['costoCompra'].errors.forbiddenName" class="invalid-feedback">
                    El Costo de la Compra del Producto no es Valido.
                </div>
            </div>
        </div>

        <!-- Campo Costo de la Venta-->
        <div class="col-md-3">
            <label for="inputAddress" class="form-label">Costo de la Venta</label>
            <input type="text" class="form-control" formControlName="costoVenta" id="inputAddress" placeholder="Valor de la Venta del Producto"
            [ngClass]="{        'is-invalid': crearpro.controls['costoVenta'].invalid && (crearpro.controls['costoVenta'].dirty || crearpro.controls['costoVenta'].touched),
        'is-valid': crearpro.controls['costoVenta'].valid
      }">
            <div
                *ngIf="crearpro.controls['costoVenta'].invalid && (crearpro.controls['costoVenta'].dirty || crearpro.controls['costoVenta'].touched)">
                <div *ngIf="crearpro.controls['costoVenta'].errors.required">
                    El Costo de la Venta del Producto es Requerido.
                </div>
                <div *ngIf="crearpro.controls['costoVenta'].errors.forbiddenName" class="invalid-feedback">
                    El Costo de la Venta del Producto no es Valido.
                </div>
            </div>
        </div>


        <!-- Cantidad -->
        <div class="col-md-4">
            <label for="inputPassword4" class="form-label">cantidad</label>
            <input type="numer" formControlName="cantidad" class="form-control" id="inputPassword4" placeholder="cantidad de Productos"
            [ngClass]="{        'is-invalid': crearpro.controls['cantidad'].invalid && (crearpro.controls['cantidad'].dirty || crearpro.controls['cantidad'].touched),
        'is-valid': crearpro.controls['cantidad'].valid
      }">


            <div
                *ngIf="crearpro.controls['cantidad'].invalid && (crearpro.controls['cantidad'].dirty || crearpro.controls['cantidad'].touched)">
                <div *ngIf="crearpro.controls['cantidad'].errors.required">
                    La cantidad del Producto es Requerido.
                </div>
                <div *ngIf="crearpro.controls['cantidad'].errors.forbiddenName" class="invalid-feedback">
                    La cantidad del Producto no es Valido.
                </div>
            </div>

        </div>

        <!-- Descripcion -->
        <div class="col-md-4">
            <label for="inputPassword4" class="form-label">Descripción</label>
            <input type="text" formControlName="descripcion" class="form-control" id="descripcion"
                placeholder="Descripción del Producto"[ngClass]="{
                  'is-invalid': crearpro.controls['descripcion'].invalid && (crearpro.controls['descripcion'].dirty || crearpro.controls['descripcion'].touched),
                  'is-valid': crearpro.controls['descripcion'].valid
                }">
                <div
                  *ngIf="crearpro.controls['descripcion'].invalid && (crearpro.controls['descripcion'].dirty || crearpro.controls['descripcion'].touched)">
                  <div *ngIf="crearpro.controls['descripcion'].errors.required">
                    Nombre es requerido.
                  </div>
                  <div *ngIf="crearpro.controls['descripcion'].errors.minlength" class="invalid-feedback">
                    Name must be at least 4 characters long.
                  </div>
                  <div *ngIf="crearpro.controls['descripcion'].errors.forbiddenName" class="invalid-feedback">
                    Name cannot be Bob.
                  </div>
                </div>
              </div>

        <div class="col-12">
            <button type="submit" [disabled]="crearpro.invalid" class="btn btn-primary"
            (click)="openModal()">Crear</button>
        </div>
         <!-- Modal -->
    <app-modal-creacion #dialogForm [modalParameters]="modalParameters"></app-modal-creacion>
    </form>
</div>
