<app-header></app-header><br>

<h1>LISTA DE PRODUCTOS</h1>
<br><br><br>

<div class="row ">
  <div class="col ">

    <table class="table table-sm ">

      <thead>
        <tr>
          <th>ID Producto</th>
          <th>Marca</th>
          <th>Costo de la Compra</th>
          <th>Costo de la Venta</th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <br>
      <tbody>
        <tr *ngFor="let productos of prod">
          <td>{{productos.idProducto}}</td>
          <td>{{productos.idMarca}}</td>
          <td>{{productos.costoCompra}}</td>
          <td>{{productos.costoVenta}}</td>
          <td>{{productos.cantidad}}</td>
          <td>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-outline-success" title="Actualizar registro" (click)="editarproducto(productos.idProducto)" >Editar</button>
            </div>
          </td>
        </tr>
      </tbody>

    </table>

  </div>

</div>
