<app-header></app-header><br><br><br><br>

<h1>GESTIÓN DE USUARIOS</h1>
<br><br><br>
<div class="container">
  <div class="row">
    <!-- Listar Usuarios -->
    <div class="col-1"></div>
    <div class="col-1">
      <div class="card custom" style="width: 280px; height: 270px;" [routerLink]="['/listado-usuarios']">
        <div class="card-body">
          <img class="image-card-height" src="../../assets/imagenes/lista.png" />
          <h2 class="card-title">LISTADO DE EMPLEADOS</h2>
        </div>
      </div>
    </div>
    <!-- Crear Empleado -->
    <div class="col-3"></div>
    <div class="col-1 ">
      <div class="card custom" style="width: 280px; height: 270px;" [routerLink]="['/regisemp']">
        <div class="card-body">
          <img class="image-card-height" src="../../assets/imagenes/empleados.png" />
          <h2 class="card-title">CREAR EMPLEADO</h2>
        </div>
      </div>
    </div>
    <!-- Crear Usuario -->
    <div class="col-3"></div>
    <div class="col-1 ">
      <div class="card custom" style="width: 280px; height: 270px;" [routerLink]="['/usuarios-list']">
        <div class="card-body">
          <img class="image-card-height" src="../../../assets/imagenes/logo_usuario2.png" />
          <h2 class="card-title">GESTIÓN DE USUARIOS</h2>
        </div>
      </div>
    </div>

  </div>
</div>

<br><br><br><br><br><br><br><br>
