<app-header></app-header><br><br><br><br>

<h1>LISTA DE EMPLEADOS</h1>
<br><br><br>

<div class="row ">
  <div class="col ">

    <table class="table table-sm ">

      <thead>
        <tr class="texto">
          <th>ID Empleado</th>
          <th>Primero Nombre</th>
          <th>Primer Apellido</th>
          <th>Email Personal</th>
          <th>Fecha de Contratación</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <br>
      <tbody>
        <tr class="texto" *ngFor="let empleados of emp">
          <td>{{empleados.idEmpleado}}</td>
          <td>{{empleados.primerNombre}}</td>
          <td>{{empleados.primerApellido}}</td>
          <td>{{empleados.emailPrincipal}}</td>
          <td>{{empleados.fechaContratacion | date}}</td>
          <td>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-outline-danger" title="Eliminar Registro" (click)="eliminar(empleados.idEmpleado)"  >Eliminar</button>
              <button type="button" class="btn btn-outline-success" title="Actualizar registro" (click)="editarEmpleado(empleados.idEmpleado)" >Editar</button>
            </div>
          </td>
        </tr>
      </tbody>


    <!-- Modal -->
    <app-modal-creacion #dialogForm [modalParameters]="modalParameters"></app-modal-creacion>

    </table>

  </div>

</div>
