
.custom {
    cursor: pointer;
    border: 3px solid #FF7052;
    border-radius: 5%;
  }

  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  .custom:hover {
    background-color: #FF7052;
    color: #ffffff;
  }

  .image-card-height {
    width: 7rem;
    height: 8rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6%;
    padding-bottom: 10%;
  }

  .image-card-equal {
    width: 8rem;
    height: 8rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6%;
    padding-bottom: 10%;
  }

  .fullclick li {
  list-style: none;
  margin: 1em 0;
  padding: 20px 10px;
  position: relative;
}
.fullclick a.main {
  color: #85baff;
  text-align: right;
  display: block;
  z-index: 1;
}
.fullclick li a.main::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: ' ';
}
